<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SuiteExecution" parallel="methods" thread-count="3">
	<test name="Test1">
		<groups>
			<run>
				<include name="bonding" />
			</run>
		</groups>
		<classes>
			<class name="com.testng.java.TestNG_groups">
			</class>
		</classes>
	</test>
</suite>